@import "../../static/exp";

.options {
  width: 320px;
  min-width: 320px;
  border-left: 1px solid @pale-grey-seven;
  box-shadow: -1px 0 2px 0 rgba(191, 197, 210, 0.15);
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .buttonsWrap {
      display: flex;
      justify-content: space-around;
      width: 100%;
      border-bottom: 1px solid @pale-grey-seven;
      background: @w;
      li {
        display: flex;
        border-bottom: 2px solid @trans;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        cursor: pointer;
        line-height: 1.71;
        color: @steel;
        .font(@avenir-medium, 14);
        &.active,
        &:hover {
          border-bottom: 2px solid @soft-blue;
          color: @soft-blue;
        }
      }
    }
    .dropdown {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      width: 100%;
      width: 100%;
      .head {
        width: 100%;
        background: #fff;
        cursor: pointer;
        padding: 16px 24px;
        border-bottom: 1px solid @pale-grey-seven;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          .font(@avenir-medium, 12);
          line-height: 2;
          color: @steel;
        }
        svg{
          transform: rotate(0deg);
        }
        &.active,
        &:hover {
        }
        &.active{
          svg{
            transform: rotate(180deg);
          }
        }
      }
      .tabList{
        display: flex;
        a{
          text-decoration: none;
          color: #000000;
        }
      }
      .container {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border-bottom: 1px solid @pale-grey-seven;
        max-width: 100%;
        &.active{
          display: flex;
        }
        .imagePreview {
          width: 100%;
          min-height: 300px;
          border: 1px solid;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #eee;
          img{
            //width: 100%;
            max-width: 100%;
            object-fit: contain;
          }
        }
        .row{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 16px;
          &:last-child{
            margin-bottom: 0;
          }
          .left{
            flex: 1;
            &>span{
              .font(@avenir-medium, 12);
              line-height: 2.67;
              color: @steel;
            }
          }
          .logoLeft{
            //flex: 2;
            width: 81px;
            &>span{
              .font(@avenir-medium, 12);
              line-height: 2.67;
              color: @steel;
            }
          }
          .right{
            flex: 5;
            .innerRow{
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 24px;
              &>span{
                width: 100px;
              }
              &>input{
                width: 100%;
              }
            }
            .innerCol{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              margin-left: 24px;
              label{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                text-indent: 16px;
                line-height: 1.33;
                margin-bottom: 16px;
                .font(@avenir-medium, 12);
                color: @steel;
                &:last-child{
                  margin-bottom: 0;
                }
                .inputRadioWrap{
                  width: 16px;
                  height: 16px;
                  position: relative;
                  .radio{
                    display: flex;
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    border: 1px solid @pale-grey-three;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                  }
                  input{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                  }
                  input:checked + .radio{
                    &:before{
                      content: '';
                      display: block;
                      width: 8px;
                      height: 8px;
                      border-radius: 10px;
                      background: @soft-blue;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .hr{
        margin: 20px 0;
        &:before {
          content: '';
          position: relative;
          width: 100%;
          height: 1px;
          background: #000;
        }
        width: 100%;
      }
      .upload{
        width: 100px;
        padding: 2px 16px;
        display: flex;
        background: @soft-blue;
        border: 1px solid @cornflower-blue;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        span{
          .font(@avenir-heavy, 12);
          line-height: 2;
          color: @w;
          font-weight: bold;
          cursor: pointer;
        }
        input{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }

}

.preview {
  flex: 2;
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.colorWrap{
  width: 100%;
  max-width: 105px;
  padding: 6px 6px 6px 16px;
  border-radius: 4px;
  border: 1px solid @pale-grey-three;
  background: @w;
  display: flex;
  align-items: center;
  position: relative;
  button{
    min-width: 20px;
    display: inline-block;
    height: 20px;
    border: none;
    border-radius: 4px;
    background: @soft-blue;
  }
  input{
    width: 60px;
    height: 100%;
    border: none;
    display: inline-block;
    .font(@avenir-medium, 12);
  }
}
