.container {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: auto;
}
.wrap {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
}
.options {
  width: 320px;
  min-width: 320px;
  border-left: 1px solid #e7e9ef;
  box-shadow: -1px 0 2px 0 rgba(191, 197, 210, 0.15);
}
.options .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.options .wrap .buttonsWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #e7e9ef;
  background: #fff;
}
.options .wrap .buttonsWrap li {
  display: flex;
  border-bottom: 2px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
  line-height: 1.71;
  color: #768198;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.options .wrap .buttonsWrap li.active,
.options .wrap .buttonsWrap li:hover {
  border-bottom: 2px solid #5585ed;
  color: #5585ed;
}
.options .wrap .dropdown {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}
.options .wrap .dropdown .head {
  width: 100%;
  background: #fff;
  cursor: pointer;
  padding: 16px 24px;
  border-bottom: 1px solid #e7e9ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options .wrap .dropdown .head span {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  color: #768198;
}
.options .wrap .dropdown .head svg {
  transform: rotate(0deg);
}
.options .wrap .dropdown .head.active svg {
  transform: rotate(180deg);
}
.options .wrap .dropdown .tabList {
  display: flex;
}
.options .wrap .dropdown .tabList a {
  text-decoration: none;
  color: #000000;
}
.options .wrap .dropdown .container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-bottom: 1px solid #e7e9ef;
  max-width: 100%;
}
.options .wrap .dropdown .container.active {
  display: flex;
}
.options .wrap .dropdown .container .imagePreview {
  width: 100%;
  min-height: 300px;
  border: 1px solid;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.options .wrap .dropdown .container .imagePreview img {
  max-width: 100%;
  object-fit: contain;
}
.options .wrap .dropdown .container .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.options .wrap .dropdown .container .row:last-child {
  margin-bottom: 0;
}
.options .wrap .dropdown .container .row .left {
  flex: 1;
}
.options .wrap .dropdown .container .row .left > span {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.67;
  color: #768198;
}
.options .wrap .dropdown .container .row .right {
  flex: 5;
}
.options .wrap .dropdown .container .row .right .innerRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}
.options .wrap .dropdown .container .row .right .innerRow > span {
  width: 100px;
}
.options .wrap .dropdown .container .row .right .innerRow > input {
  width: 100%;
}
.options .wrap .dropdown .hr {
  margin: 20px 0;
  width: 100%;
}
.options .wrap .dropdown .hr:before {
  content: '';
  position: relative;
  width: 100%;
  height: 1px;
  background: #000;
}
.options .wrap .dropdown .upload {
  width: 100px;
  padding: 2px 16px;
  display: flex;
  background: #5585ed;
  border: 1px solid #4372d6;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.options .wrap .dropdown .upload span {
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.options .wrap .dropdown .upload input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.preview {
  flex: 2;
}
.preview .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=builder.css.map */