.container {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: auto;
  height: 100%;
}
.wrap {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
}
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Roman'), url('/fonts/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 55 Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Oblique'), url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('/fonts/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light Oblique'), url('/fonts/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book'), url('/fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book Oblique'), url('/fonts/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('/fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium Oblique'), url('/fonts/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy'), url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy Oblique'), url('/fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black'), url('/fonts/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black Oblique'), url('/fonts/AvenirLTStd-BlackOblique.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
  list-style: none;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select {
  outline: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
.options {
  width: 320px;
  min-width: 320px;
  border-left: 1px solid #e7e9ef;
  box-shadow: -1px 0 2px 0 rgba(191, 197, 210, 0.15);
}
.options .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.options .wrap .buttonsWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #e7e9ef;
  background: #fff;
}
.options .wrap .buttonsWrap li {
  display: flex;
  border-bottom: 2px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
  line-height: 1.71;
  color: #768198;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.options .wrap .buttonsWrap li.active,
.options .wrap .buttonsWrap li:hover {
  border-bottom: 2px solid #5585ed;
  color: #5585ed;
}
.options .wrap .dropdown {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}
.options .wrap .dropdown .head {
  width: 100%;
  background: #fff;
  cursor: pointer;
  padding: 16px 24px;
  border-bottom: 1px solid #e7e9ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options .wrap .dropdown .head span {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  color: #768198;
}
.options .wrap .dropdown .head svg {
  transform: rotate(0deg);
}
.options .wrap .dropdown .head.active svg {
  transform: rotate(180deg);
}
.options .wrap .dropdown .tabList {
  display: flex;
}
.options .wrap .dropdown .tabList a {
  text-decoration: none;
  color: #000000;
}
.options .wrap .dropdown .container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-bottom: 1px solid #e7e9ef;
  max-width: 100%;
}
.options .wrap .dropdown .container.active {
  display: flex;
}
.options .wrap .dropdown .container.active > div {
  width: 100%;
}
.options .wrap .dropdown .container .imagePreview {
  width: 100%;
  min-height: 300px;
  border: 1px solid;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
.options .wrap .dropdown .container .imagePreview img {
  max-width: 100%;
  object-fit: contain;
}
.options .wrap .dropdown .container .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}
.options .wrap .dropdown .container .row:last-child {
  margin-bottom: 0;
}
.options .wrap .dropdown .container .row .left {
  flex: 1;
}
.options .wrap .dropdown .container .row .left > span {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.67;
  color: #768198;
}
.options .wrap .dropdown .container .row .logoLeft {
  width: 81px;
}
.options .wrap .dropdown .container .row .logoLeft > span {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.67;
  color: #768198;
}
.options .wrap .dropdown .container .row .logoLeft > span.header {
  font-weight: bold;
  color: #071031;
}
.options .wrap .dropdown .container .row .logoLeft > span.position {
  line-height: 1.33;
}
.options .wrap .dropdown .container .row .left + .right .innerRow,
.options .wrap .dropdown .container .row .logoLeft + .right .innerRow {
  margin-left: 24px;
}
.options .wrap .dropdown .container .row .right {
  flex: 5;
}
.options .wrap .dropdown .container .row .right .innerRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.options .wrap .dropdown .container .row .right .innerRow select,
.options .wrap .dropdown .container .row .right .innerRow > input {
  width: 100%;
  max-width: 105px;
  padding: 6px 6px 6px 16px;
  border-radius: 4px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow select.tin,
.options .wrap .dropdown .container .row .right .innerRow > input.tin {
  max-width: 60px;
}
.options .wrap .dropdown .container .row .right .innerRow select.medium,
.options .wrap .dropdown .container .row .right .innerRow > input.medium {
  max-width: 76px;
}
.options .wrap .dropdown .container .row .right .innerRow .slider {
  display: flex;
  align-items: center;
  width: 74px;
  height: 4px;
  background: #e5e9f2;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
}
.options .wrap .dropdown .container .row .right .innerRow .slider .dot {
  display: block;
  width: 12px;
  height: 12px;
  background: #5585ed;
  border: 2px solid #fff;
  border-radius: 12px;
  position: absolute;
}
.options .wrap .dropdown .container .row .right .innerRow .slider + div {
  display: block;
  width: 76px;
}
.options .wrap .dropdown .container .row .right .innerRow select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  height: 34px;
}
.options .wrap .dropdown .container .row .right .innerRow select::-ms-expand {
  display: none;
}
.options .wrap .dropdown .container .row .right .innerRow p.select {
  width: 100%;
  max-width: 105px;
  padding: 6px 6px 6px 16px;
  border-radius: 4px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
  height: 34px;
  user-select: none;
}
.options .wrap .dropdown .container .row .right .innerRow p.select.tin {
  max-width: 60px;
}
.options .wrap .dropdown .container .row .right .innerRow p.select.medium {
  max-width: 76px;
  min-width: 76px;
}
.options .wrap .dropdown .container .row .right .innerRow p.select svg {
  position: absolute;
  right: 0;
}
.options .wrap .dropdown .container .row .right .innerRow > span {
  width: 100px;
}
.options .wrap .dropdown .container .row .right .innerRow > input {
  width: 100%;
}
.options .wrap .dropdown .container .row .right .innerRow textarea {
  width: 100%;
  resize: none;
  min-height: 50px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button {
  width: 20px;
  height: 20px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button:hover {
  background-color: #f1f3f8;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button.active {
  background-color: #e7e9ef;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button:not(:last-child) {
  margin-right: 10px;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button[data-type="bold"] {
  font-weight: bold;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button[data-type="italic"] {
  font-style: italic;
}
.options .wrap .dropdown .container .row .right .innerRow .textActions button[data-type="underline"] {
  text-decoration: underline;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm input {
  width: 100%;
  margin-right: 8px;
  border: 1px solid #e5e9f2;
  padding: 4px 0 4px 16px;
  border-radius: 4px;
  background: #fff;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm input::-webkit-input-placeholder {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm input::-moz-placeholder {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm input:-ms-input-placeholder {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm input:-moz-placeholder {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerRow .urlForm button {
  width: 67px;
  min-width: 67px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5585ed;
  border: 1px solid #4372d6;
  border-radius: 16px;
  color: #fff;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
.options .wrap .dropdown .container .row .right .inputSelect {
  width: 100%;
  max-width: 105px;
  height: 34px;
  display: flex;
  align-items: stretch;
  border-radius: 4px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
  margin-left: 24px;
  position: relative;
}
.options .wrap .dropdown .container .row .right .inputSelect input,
.options .wrap .dropdown .container .row .right .inputSelect select {
  position: relative;
  border: none;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .inputSelect input {
  width: 100%;
  padding: 6px 6px 6px 16px;
  text-align: right;
}
.options .wrap .dropdown .container .row .right .inputSelect select {
  padding: 6px 16px 6px 0;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  z-index: 1;
}
.options .wrap .dropdown .container .row .right .inputSelect select::-ms-expand {
  display: none;
}
.options .wrap .dropdown .container .row .right .inputSelect svg {
  position: absolute;
  right: -3px;
  align-self: center;
}
.options .wrap .dropdown .container .row .right .innerCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 24px;
}
.options .wrap .dropdown .container .row .right .innerCol label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-indent: 16px;
  line-height: 1.33;
  margin-bottom: 16px;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
.options .wrap .dropdown .container .row .right .innerCol label:last-child {
  margin-bottom: 0;
}
.options .wrap .dropdown .container .row .right .innerCol label .inputRadioWrap {
  width: 16px;
  height: 16px;
  position: relative;
}
.options .wrap .dropdown .container .row .right .innerCol label .inputRadioWrap .radio {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #e5e9f2;
  position: relative;
  align-items: center;
  justify-content: center;
}
.options .wrap .dropdown .container .row .right .innerCol label .inputRadioWrap input {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  opacity: 0;
}
.options .wrap .dropdown .container .row .right .innerCol label .inputRadioWrap input:checked + .radio:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #5585ed;
}
.options .wrap .dropdown .container .row .right .innerCol.toRow {
  flex-direction: row;
  align-items: center;
  margin-left: 0;
}
.options .wrap .dropdown .container .row .right .innerCol.toRow label {
  margin-bottom: 0;
  flex-direction: row;
  -ms-text-align-last: left;
  text-align-last: left;
}
.options .wrap .dropdown .container .row .right .innerCol.toRow label .inputRadioWrap {
  margin-left: 10px;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap label {
  flex-direction: row;
  text-indent: 0;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap label .checkBoxPlace {
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap label .checkBoxPlace input[type=checkbox] {
  width: 15px;
  height: 15px;
  position: relative;
  opacity: 0;
  z-index: 1;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap label .checkBoxPlace span {
  display: flex;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e9f2;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap label .checkBoxPlace input:checked + span:before {
  content: '';
  display: block;
  position: relative;
  width: 7px;
  height: 7px;
  border: 1px solid #5585ed;
  border-radius: 2px;
  background: #5585ed;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div input {
  color: #fff;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div:not(:last-child) {
  margin-bottom: 16px;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.fb {
  background-color: #4166b2;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.fb span {
  background: #345497;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.google {
  background-color: #4285f4;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.google span {
  background: #3675de;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.tw {
  background-color: #1ca1f2;
}
.options .wrap .dropdown .container .row .right .innerCol .socialsWrap div.tw span {
  background: #1494e1;
}
.options .wrap .dropdown .hr {
  margin: 20px 0;
  width: 100%;
}
.options .wrap .dropdown .hr:before {
  content: '';
  position: relative;
  width: 100%;
  height: 1px;
  background: #000;
}
.options .wrap .dropdown .upload {
  width: 100px;
  padding: 2px 16px;
  display: flex;
  background: #5585ed;
  border: 1px solid #4372d6;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.options .wrap .dropdown .upload span {
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.options .wrap .dropdown .upload input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.options .wrap .buttonsRow {
  margin-top: auto;
  margin-bottom: 10px;
}
.options .wrap .buttonsRow .publish {
  width: 128px;
  height: 40px;
  border: 1px solid #4372d6;
  background: #5585ed;
  color: #fff;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
}
.preview {
  flex: 2;
}
.preview .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorWrap {
  width: 100%;
  max-width: 105px;
  padding: 6px 6px 6px 16px;
  border-radius: 4px;
  border: 1px solid #e5e9f2;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.colorWrap button {
  min-width: 20px;
  display: inline-block;
  height: 20px;
  border: none;
  border-radius: 4px;
  background: #5585ed;
}
.colorWrap input {
  width: 60px;
  height: 100%;
  border: none;
  display: inline-block;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #768198;
}
@media screen and (min-width: 0 \0 ) {
  .option .wrap .dropdown .container .row .right .innerRow select {
    background-image: none \9;
    padding: 5px \9;
  }
}
/*# sourceMappingURL=options.css.map */