.container {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: auto;
  height: 100%;
}
.wrap {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
}
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Roman'), url('/fonts/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 55 Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Oblique'), url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('/fonts/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light Oblique'), url('/fonts/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book'), url('/fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book Oblique'), url('/fonts/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('/fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium Oblique'), url('/fonts/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy'), url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy Oblique'), url('/fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black'), url('/fonts/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black Oblique'), url('/fonts/AvenirLTStd-BlackOblique.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
  list-style: none;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select {
  outline: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
.logoPlace {
  margin-left: 16px;
  display: flex;
}
header {
  padding: 16px 0;
  box-shadow: 0 1px 2px 0 rgba(191, 197, 210, 0.15);
  border-bottom: 1px solid #e7e9ef;
  background: #fff;
}
.wrap {
  justify-content: space-between;
}
.menu {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.menu img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right a,
.right button {
  line-height: 2.29;
  color: #768198;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.right .user {
  margin-left: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}
.right .user .avatar {
  display: flex;
}
.right .user .avatar img {
  width: 100%;
  object-fit: contain;
}
.right .user .caret {
  display: flex;
  align-items: center;
  text-indent: 16px;
}
.right .user .caret span {
  margin-right: 8px;
}
.right .user .popup {
  display: none;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 9px 0 rgba(191, 197, 210, 0.25);
  border: 1px solid #e7e9ef;
  border-radius: 4px;
  padding: 5px 0;
}
.right .user .popup li {
  display: flex;
}
.right .user .popup li a,
.right .user .popup li button {
  width: 100%;
  padding: 0 10px;
  border: none;
  text-align: left;
}
.right .user .popup li a:hover,
.right .user .popup li button:hover {
  background: #e5e9f2;
}
.right .user .popup.active {
  display: block;
}
/*# sourceMappingURL=header.css.map */