.container {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: auto;
  height: 100%;
}
.wrap {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
}
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Roman'), url('/fonts/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 55 Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Oblique'), url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('/fonts/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light Oblique'), url('/fonts/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book'), url('/fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book Oblique'), url('/fonts/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('/fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium Oblique'), url('/fonts/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy'), url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy Oblique'), url('/fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black'), url('/fonts/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black Oblique'), url('/fonts/AvenirLTStd-BlackOblique.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
  list-style: none;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select {
  outline: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
.sidebar {
  width: 72px;
  min-width: 72px;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 0 2px 0 rgba(191, 197, 210, 0.15);
  border-right: 1px solid #e7e9ef;
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar a {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #768198;
  font-weight: 500;
  line-height: 1.71;
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding-left: 24px;
  border-left: 2px solid transparent;
  height: 24px;
  flex-wrap: nowrap;
}
.sidebar a svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.sidebar a span {
  padding-left: 24px;
  width: 125px;
  height: 24px;
  flex-shrink: 0;
  transition: all 0.3s linear;
  opacity: 0;
}
.sidebar a:hover,
.sidebar a.active {
  border-left: 2px solid #5585ed;
  color: #5585ed;
}
.sidebar a:hover path,
.sidebar a.active path {
  fill: #5585ed;
}
.sidebar a:hover g,
.sidebar a.active g {
  fill: #5585ed;
}
.sidebar a:hover circle,
.sidebar a.active circle {
  fill: #5585ed;
}
.sidebar.opened {
  transition: all 0.3s linear;
  width: 200px;
  min-width: 200px;
}
.sidebar.opened a span {
  padding-left: 16px;
  opacity: 1;
}
/*# sourceMappingURL=sidebar.css.map */