.container {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: auto;
  height: 100%;
}
.wrap {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
}
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Roman'), url('/fonts/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 55 Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Oblique'), url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('/fonts/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light Oblique'), url('/fonts/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book'), url('/fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 45 Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book Oblique'), url('/fonts/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('/fonts/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 65 Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium Oblique'), url('/fonts/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy'), url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 85 Heavy Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 85 Heavy Oblique'), url('/fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black'), url('/fonts/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 95 Black Oblique'), url('/fonts/AvenirLTStd-BlackOblique.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
  list-style: none;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
input,
select {
  outline: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
.formWrap {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 9px 0 rgba(191, 197, 210, 0.25);
  border: solid 1px #e5e9f2;
  padding: 24px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formWrap p {
  margin: 0;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #071031;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
}
.formWrap .login {
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  line-height: 2;
  padding: 4px 40px;
  border-radius: 16px;
  border: 1px solid #4372d6;
  background: #5585ed;
  cursor: pointer;
}
.formWrap .login:hover {
  background: #4372d6;
}
.formWrap .login.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.formWrap .login.disabled:hover {
  background: #5585ed;
}
.formWrap .question {
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #768198;
  line-height: unset;
  margin-top: 10px;
}
.formWrap .question button {
  border: none;
  font-family: 'AvenirLTStd-Medium', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #768198;
  border-bottom: 1px solid #768198;
}
.fieldsWrap {
  width: 100%;
}
.inputsWrap,
.socialsWrap {
  width: 100%;
  margin: 24px 0;
}
.inputsWrap .email,
.socialsWrap .email {
  margin-bottom: 16px;
}
.inputsWrap > div,
.socialsWrap > div {
  width: 100%;
  height: 42px;
  border-radius: 2px;
  border: solid 1px #dee5f3;
  background-color: #f1f3f8;
  position: relative;
  display: flex;
}
.inputsWrap > div span,
.socialsWrap > div span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background: #dde1ec;
}
.inputsWrap > div.validationFalse,
.socialsWrap > div.validationFalse {
  border-color: #ff4d5d;
}
.inputsWrap > div.validationFalse span,
.socialsWrap > div.validationFalse span {
  background-color: #ff6976;
}
.inputsWrap > div.validationFalse input,
.socialsWrap > div.validationFalse input {
  color: #ff4d5d;
}
.inputsWrap > div.validationFalse input::-webkit-input-placeholder,
.socialsWrap > div.validationFalse input::-webkit-input-placeholder {
  color: #ff4d5d;
}
.inputsWrap > div.validationFalse input::-moz-placeholder,
.socialsWrap > div.validationFalse input::-moz-placeholder {
  color: #ff4d5d;
}
.inputsWrap > div.validationFalse input:-ms-input-placeholder,
.socialsWrap > div.validationFalse input:-ms-input-placeholder {
  color: #ff4d5d;
}
.inputsWrap > div.validationFalse input:-moz-placeholder,
.socialsWrap > div.validationFalse input:-moz-placeholder {
  color: #ff4d5d;
}
.inputsWrap > div.validationFalse svg g,
.socialsWrap > div.validationFalse svg g {
  fill: #fff;
}
.inputsWrap > div input,
.socialsWrap > div input {
  width: calc(100% - 40px);
  border: 1px solid transparent;
  background: transparent;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: #7a859b;
}
.inputsWrap > div input::-webkit-input-placeholder,
.socialsWrap > div input::-webkit-input-placeholder {
  color: #7a859b;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.inputsWrap > div input::-moz-placeholder,
.socialsWrap > div input::-moz-placeholder {
  color: #7a859b;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.inputsWrap > div input:-ms-input-placeholder,
.socialsWrap > div input:-ms-input-placeholder {
  color: #7a859b;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.inputsWrap > div input:-moz-placeholder,
.socialsWrap > div input:-moz-placeholder {
  color: #7a859b;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.socialsWrap div {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}
.socialsWrap div input {
  color: #fff;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}
.socialsWrap div:first-child {
  margin-bottom: 16px;
}
.socialsWrap div.fb {
  background-color: #4166b2;
}
.socialsWrap div.fb span {
  background: #345497;
}
.socialsWrap div.google {
  background-color: #4285f4;
}
.socialsWrap div.google span {
  background: #3675de;
}
/*# sourceMappingURL=login.css.map */