@import '../../static/exp';

.formWrap {
  width: 100%;
  background: @w;
  border-radius: 4px;
  box-shadow: 0 1px 9px 0 rgba(191, 197, 210, 0.25);
  border: solid 1px @pale-grey-three;
  padding: 24px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    .font(@avenir-medium, 16);
    color: @dark-indigo;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
  }
  .login {
    .font(@avenir-heavy, 12);
    color: @w;
    font-weight: bold;
    line-height: 2;
    padding: 4px 40px;
    border-radius: 16px;
    border: 1px solid @cornflower-blue;
    background: @soft-blue;
    cursor: pointer;
    &:hover {
      background: @cornflower-blue;
    }
    &.disabled{
      opacity: .5;
      cursor: not-allowed;
      &:hover{
        background: @soft-blue;
      }
    }
  }
  .question {
    .font(@avenir-medium, 14);
    color: @steel;
    line-height: unset;
    margin-top: 10px;
    button {
      border: none;
      .font(@avenir-medium, 14);
      color: @steel;
      border-bottom: 1px solid @steel;
    }
  }
}

.fieldsWrap{
  width: 100%;
}

.inputsWrap,
.socialsWrap {
  width: 100%;
  margin: 24px 0;
  .email {
    margin-bottom: 16px;
  }
  & > div {
    width: 100%;
    height: 42px;
    border-radius: 2px;
    border: solid 1px @light-blue-grey;
    background-color: @pale-grey-five;
    position: relative;
    display: flex;
    span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background: @pale-grey-six;
    }
    &.validationFalse {
      border-color: #ff4d5d;
      span {
        background-color: #ff6976;
      }
      input {
        color: #ff4d5d;
        &::-webkit-input-placeholder {
          color: #ff4d5d;
        }
        &::-moz-placeholder {
          color: #ff4d5d;
        }
        &:-ms-input-placeholder {
          color: #ff4d5d;
        }
        &:-moz-placeholder {
          color: #ff4d5d;
        }
      }
      svg {
        g {
          fill: @w
        }
      }
    }
    input {
      width: calc(100% - 40px);
      border: 1px solid transparent;
      background: transparent;
      .font(@avenir-heavy, 12);
      font-weight: bold;
      line-height: 2;
      text-align: center;
      color: @steel-three;
      &::-webkit-input-placeholder {
        color: @steel-three;
        text-align: center;
        .font(@avenir-heavy, 12);
        font-weight: bold;
        line-height: 2;
        text-align: center;
      }
      &::-moz-placeholder {
        color: @steel-three;
        text-align: center;
        .font(@avenir-heavy, 12);
        font-weight: bold;
        line-height: 2;
        text-align: center;
      }
      &:-ms-input-placeholder {
        color: @steel-three;
        text-align: center;
        .font(@avenir-heavy, 12);
        font-weight: bold;
        line-height: 2;
        text-align: center;
      }
      &:-moz-placeholder {
        color: @steel-three;
        text-align: center;
        .font(@avenir-heavy, 12);
        font-weight: bold;
        line-height: 2;
        text-align: center;
      }
    }
  }
}

.socialsWrap {
  div {
    cursor: pointer;
    border: 1px solid @trans;
    border-radius: 2px;
    input {
      color: @w;
      .font(@avenir-heavy, 12);
      justify-content: center;
      align-items: center;
    }
    span {
    }
    &:first-child {
      margin-bottom: 16px;
    }
    &.fb {
      background-color: @french-blue;
      span {
        background: @light-navy-blue;
      }
    }
    &.google {
      background-color: @dodger-blue;
      span {
        background: @dark-sky-blue;
      }
    }
  }
}
